/*Hero Section | #hero*/
.hero {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  margin: 140px auto 0;
}
.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  bottom: -85px;
}
.heroSecondHeadline {
  display: none;
}
.heroHeadline {
  margin: 0 0 10px 0;
}
.heroImage {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1000px) {
  .hero {
    margin: 200px auto 0;
  }
  .heroContent {
    bottom: 0;
  }
  .heroImage {
    width: 566px;
    height: 566px;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    right: 0;
  }
  .heroContent {
    height: 566px;
    position: relative;
    z-index: 1;
  }
  .heroSecondHeadline {
    display: unset;
    color: var(--headline);
    font-family: var(--oxanium);
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 1px;
  }
  .heroHeadline {
    margin: 30px 0 70px 0;
  }
}

/*About Me Section | #about*/
.about {
  margin: calc(130px + 85px) 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}
.aboutHeader {
  padding-left: 5%;
}
.aboutImage {
  width: 100%;
  height: 455px;
  background-position: center;
  background-size: cover;
}
.aboutImageContainer {
  width: 100%;
  align-self: flex-end;
  position: relative;
  display: flex;
  justify-content: center;
}
.aboutDetails {
  width: 297px;
  position: absolute;
  background-color: var(--background);
  bottom: 60px;
  padding: 10px 20px;
}
@media screen and (min-width: 700px) {
  .aboutDetails {
    width: fit-content;
    max-width: 584px;
    bottom: 60px;
    padding: 45px 60px;
  }
}
@media screen and (min-width: 1000px) {
  .aboutHeader {
    padding-left: 15%;
  }
  .aboutImage {
    height: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    position: relative;
    margin: 200px 0 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .aboutHeader {
    rotate: -90deg;
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    vertical-align: middle;
  }
  .aboutImageContainer {
    width: 70%;
  }
  .aboutImage {
    height: 800px;
    background-position: center;
    background-size: cover;
  }
  .aboutDetails {
    width: fit-content;
    max-width: 584px;
    bottom: 169px;
    left: 169px;
    padding: 45px 60px;
  }
}

/*Recent Projects Section | #projects*/
.projects {
  margin: 130px auto 0;
}
.projectsHeader {
  margin: 0 5% 35px;
}
.projectsHeader > a {
  display: none;
}
.carouselContainer {
  margin: 0 5%;
  position: relative;
}
.carouselButtonX {
  width: fit-content;
  height: fit-content;
  outline: none;
  border: none;
  background-color: unset;
}
.carouselButtonX > img {
  width: 34px;
  height: 34px;
  aspect-ratio: 1;
}
.carouselButtonLeft,
.carouselButtonRight {
  position: absolute;
  top: 40%;
  z-index: 3;
}
.carouselButtonLeft {
  left: -17px;
}
.carouselButtonRight {
  right: -17px;
}
.buttonHide {
  display: none;
}
.buttonShow {
  display: block;
}

@media screen and (min-width: 1000px) {
  .carouselContainer {
    margin: 0 15%;
  }
  .projects {
    margin: 200px auto 0;
  }
  .projectsHeader {
    margin: 0 15% 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .projectsHeader > a {
    display: block;
  }
  .carouselButtonX > img {
    width: 56px;
    height: 56px;
    aspect-ratio: 1;
  }
  .carouselButtonLeft {
    left: -28px;
  }
  .carouselButtonRight {
    right: -28px;
  }
}
