.productCard,
.productCardDetail,
.productCardButtonGroup,
.productCardButton {
  display: flex;
  text-decoration: none;
}
.productCard {
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.productCardDetail {
  flex-direction: column;
  gap: 15px;
}
.productCardDetail > h2 {
  width: 100%;
  font-family: var(--oxanium);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.08em;
  color: var(--headline);
  text-transform: uppercase;
}
.productCardDesc {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.productCardDesc > p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.productCardButtonGroup {
  flex-wrap: wrap;
  gap: 20px;
}
.productCardButton {
  gap: 12px;
  background-color: unset;
  border: unset;
  outline: unset;
  vertical-align: middle;
  display: flex;
  align-items: center;
}
.buttonIcon {
  width: auto;
  height: 18px;
}
.buttonText {
  color: var(--button-text);
  text-transform: capitalize;
  line-height: 18px;
  letter-spacing: 0.01em;
}
.productCardThumbnailHolder {
  width: 100%;
  aspect-ratio: 1;
  max-height: 250px;
  position: relative;
}
.productCardThumbnailHolder > img {
  object-fit: cover;
  background-position: center;
}

@media screen and (min-width: 1000px) {
  .productCard {
    gap: 60px;
  }
  .productCardDetail {
    flex-direction: row;
    justify-content: space-between;
    row-gap: 60px;
  }
  .productCardDetail > h2 {
    width: 40%;
    font-size: 50px;
    line-height: 62px;
    letter-spacing: 0.08em;
  }
  .productCardDesc {
    width: 50%;
    gap: 50px;
  }
  .productCardDesc > p {
    -webkit-line-clamp: 3;
  }
  .productCardButtonGroup {
    row-gap: 20px;
    column-gap: 50px;
  }
  .productCardButton {
    gap: 10px;
  }
  .buttonIcon {
    width: auto;
    height: 22px;
  }
  .buttonText {
    line-height: 30px;
    letter-spacing: 0.01em;
  }
  .productCardThumbnailHolder {
    max-height: 800px;
  }
}
