@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@500;600&family=Playfair+Display:wght@700&family=Poppins:wght@400;500&display=swap");
:root {
  --background: #fffffe;
  --button: #00ebc7;
  --headline: #00214d;
  --button-text: #00214d;
  --paragraph: #1b2d45;
  --oxanium: "Oxanium", cursive;
  --playfair: "Playfair Display", serif;
  --poppins: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: unset;
}
body {
  background-color: var(--background);
}
::-webkit-scrollbar {
  width: 5px;
  background-color: var(--button);
}
::-webkit-scrollbar-thumb {
  background-color: var(--button-text);
}
.wrapper {
  width: 90%;
}
.line {
  height: 0.5px;
}
.highlight {
  padding: 2px 10px;
  background-color: var(--button);
}
.primary-button {
  background-color: var(--button);
  border: 1px solid var(--button);
  outline: 0;
  padding: 15px 42px;
  transition: all ease-out 0.4s;
  color: var(--button-text);
  font-family: var(--poppins);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
.primary-button:hover {
  background-color: var(--background) !important;
  border: 1px solid var(--button-text);
}
@-webkit-keyframes up {
  100% {
    transform: translateY(0);
  }
}
@keyframes up {
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes draw {
  100% {
    width: 100%;
  }
}
@keyframes draw {
  100% {
    width: 100%;
  }
}
.page-header {
  color: var(--headline);
  font-family: var(--oxanium);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
}
.page-header {
  position: relative;
  display: block;
  transform: translateY(6rem);
  -webkit-animation: up 500ms linear forwards;
  animation: up 500ms linear forwards;
  z-index: 1;
}
.page-header::before,
.page-header::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 1px;
  left: 0;
  z-index: -1;
}
.page-header::before {
  top: 1.4rem;
  -webkit-animation: draw 500ms linear 1s forwards;
  animation: draw 500ms linear 1s forwards;
}
.page-header::after {
  bottom: 0.4rem;
  -webkit-animation: draw 500ms linear 1s forwards;
  animation: draw 500ms linear 1s forwards;
}
.tittle-header {
  font-family: var(--oxanium);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--headline);
}
.paragraph {
  font-family: var(--poppins);
  color: var(--paragraph);
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;
}
.notfound {
  width: 80%;
  margin: 200px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.notfound > img {
  width: 100%;
  height: auto;
}
.notfoundDetail {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 700px) {
  .page-header {
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0.08em;
  }
}

@media screen and (min-width: 1000px) {
  * {
    cursor: none;
  }
  main {
    margin: 80px 0;
  }
  .wrapper {
    width: 70%;
  }
  .primary-button {
    font-size: 20px;
    padding: 16px 60px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.01em;
  }
  .page-header {
    font-size: 64px;
    line-height: 80px;
  }
  .tittle-header {
    font-size: 50px;
    line-height: 80px;
    letter-spacing: 0.08em;
  }
  .paragraph {
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 2;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.05em;
  }
  .notfound {
    width: 70%;
    flex-direction: row;
    gap: 70px;
  }
  .notfound > img {
    width: 600px;
    height: auto;
  }
  .notfoundDetail > a {
    width: fit-content;
  }
  .cursor {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    background: var(--button-text);
    pointer-events: none;
    z-index: 100;
    transition: transform 0.5s;
  }
  .circle {
    content: " ";
    position: absolute;
    pointer-events: none;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 50%;
    border: 1px solid var(--button);
    transition: all 0.2s cubic-bezier(0, 0.5, 1, 1);
    z-index: 100;
  }
}

/*React Carousel*/
.carousel .slide {
  text-align: unset !important;
}
