@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@500;600&family=Playfair+Display:wght@700&family=Poppins:wght@400;500&display=swap");

:root {
  --background: #fffffe;
  --button: #00ebc7;
  --headline: #00214d;
  --button-text: #00214d;
  --paragraph: #1b2d45;
  --oxanium: "Oxanium", cursive;
  --playfair: "Playfair Display", serif;
  --poppins: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--button);
}

::-webkit-scrollbar-thumb {
  background-color: var(--button-text);
}

main{
  margin: 80px 0;
}

.wrapper {
  width: 70%;
}
.primary-button {
  background-color: var(--button);
  border: 0;
  outline: 0;
  color: var(--button-text);
  font-family: var(--poppins);
  font-size: 20px;
  font-weight: 500;
  padding: 16px 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
.primary-button-text {
  color: var(--button-text);
  font-family: var(--poppins);
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.tittle-header {
  font-family: var(--oxanium);
  font-weight: 600;
  font-size: 50px;
  color: var(--headline);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.paragraph {
  font-family: var(--poppins);
  font-weight: 400;
  color: var(--paragraph);
  letter-spacing: 2px;
  line-height: 2;
}
